<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ venue.title }}</ion-title>
    <ion-button size="small" slot="end" color="tertiary" margin>Message</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- images slides -->
  <ion-slides pager="true" [options]="slideOpts" class="slider">
    <ion-slide class="slider-slide" *ngFor="let photo of venue.photos">
      <ion-img [src]="photo">
      </ion-img>
    </ion-slide>
  </ion-slides>

  <!-- Location -->
  <ion-item>
    <ion-grid class="no-padding">
      <ion-row>
        <ion-col class="no-padding">
          <div class="ion-text-start">
            {{ venue.title }}
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
            <ion-icon (click)="addToFavs()" name="heart" color="{{ isFav ? 'danger': ''}}"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-item>
  <!-- Bio  -->
  <ion-item>
    <ion-label>
      <p>Artist Commission: {{ venue.commission | currency}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <p>{{ venue.description }}
      </p>
    </ion-label>
  </ion-item>

  <ion-item>

    <ion-grid>
      <!-- <ion-label>Contact</ion-label> -->
      <ion-row>
        <ion-col>
          <div (click)="test(venue.socialMedia[0].socialMediaUrl)">
            <ion-icon class="contact-icons" name="globe"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div (click)="test(venue.socialMedia[0].socialMediaUrl)">
            <ion-icon class="contact-icons" name="logo-twitter"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div (click)="test(venue.socialMedia[0].socialMediaUrl)">
            <ion-icon class="contact-icons" name="logo-youtube"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div (click)="test(venue.socialMedia[0].socialMediaUrl)">
            <ion-icon class="contact-icons" name="logo-instagram"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div (click)="test(venue.socialMedia[0].socialMediaUrl)">
            <ion-icon class="contact-icons" name="logo-facebook"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <!-- contact  -->
  <!-- <ion-list>
    <ion-item>
      <ion-icon name="globe"></ion-icon>
      <ion-label padding-left>
        <p>https//:example.com</p>
      </ion-label>
    </ion-item>


  </ion-list> -->

</ion-content>