<ion-header>
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Favorites
    </ion-list-header>
    <ion-item *ngFor="let venue of venues" [routerLink]="['/', 'tabs', 'venue-search', venue.venueId]" detail>
      <ion-thumbnail slot="start">
        <ion-img [src]="venue.src"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h3>{{ venue.title }}</h3>
        <p>{{ venue.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>