<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Your Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="Tell us more about you..."></ion-textarea>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label position="floating">
        <ion-icon size="small" name="logo-facebook"></ion-icon>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon size="small" name="logo-youtube"></ion-icon>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon size="small" name="logo-twitter"></ion-icon>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon size="small" name="logo-instagram"></ion-icon>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
</ion-content>